<div id="reservations_sidebar" class="sidebar-section">
<h2 class="nyulibrary_icons_help">What are blocks?</h2>
  <ul>
    <li>
      <p>Administrators can create <em>blocks</em> of time, which are essentially date/time ranges for which the given room is unavailable due to problems in the spaces, closures, emergencies, etc. These blocks will appear as unavailable to users trying to reserve spaces.</p>
      <p>Creating a block will also delete all current reservations that fall in the timeslot block and alert the users of the cancellation.</p>
    </li>
  </ul>
</div>