<h1>Create a new block</h1>

<% if @existing_reservations.blank? %>
	<%= render "new" %>
<% else %>
	<%= render "destroy_multiple" %>
<% end %>

<%= icon_tag :back %>
<%= link_to "Back", blocks_url %>