<h1>Schedule a new closure</h1>

<% if @block.existing_reservations.blank? %>
	<%= render "new" %>
<% else %>
	<%= render "destroy_existing_reservations" %>
<% end %>

<%= icon_tag :back %>
<%= link_to "Back", blocks_url %>