<%= sidebar_section("policies_panel", content_tag(:h2, "Policies"), true) do %>
<ul>
	<li>You must be a graduate student</li>
	<li>You can reserve up to 3 hours/day</li>
	<li>You can make only one reservation/day</li>
</ul>
<% end %>