@import "nyulibraries";
@import "jquery-ui-timepicker-addon";

h1.page_title { margin-top: 0; }

.sidebar-padded {width:300px;margin-left:10px;}
.legend_unavailable {margin-right:5px; padding-right:15px;background-color:#cc3333;border:1px solid #000;display:inline;}
.legend_available {margin-right: 5px;padding-right:15px;background-color:#8bc18b;border:1px solid #1b511b;display:inline}
.legend_selected {margin-right: 5px;padding-right:15px;background-color:#efefef;border:2px solid #6666ff;display:inline}
.legend_text {margin-right:10px;display:inline;}
.timeslot_unavailable {background-color:#cc3333;}
.timeslot_available {background-color:#8bc18b;}
.timeslot_selected {border:2px solid #6666ff !important;}
.outset-border {border-bottom: 2px solid #ccc !important;border-right: 1px solid #999 !important;border-top: 1px solid #efefef !important;border-left: 1px solid #efefef !important;}

div.policies { background-color:#efefef;padding: .3em .5em;width:323px;border: 1px solid #ccc; }
div.policies ul li {color: #990000;}

#generate_grid_form {
  dl { padding: 10px; border: 1px solid #ccc; }
}

#date_example {
	font-style: italic;
	color: gray;
}

dl * {
  padding: 5px;
}

.sortable_list {
  padding-left: 0 !important;
  h4 {
    font-weight: bold;
    margin-bottom: 0;
  }
  list-style: none;
  li {
    list-style: none;
    margin-bottom: $paddingSmall;
    padding-left: 0 !important;
  }
}

ul#list_rooms {
  margin-left: 0;
  h4 { padding-bottom: 3px; }
  > li { padding: 5px 0; }
}


.q {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  line-height: 20px !important;
}

.legend {
  margin: 10px 0;
}

.field_with_errors input {
  border-color: rgb(185, 74, 72) !important;
}

#top_of_page { position: absolute; }

.modal.fullscreen {
  position: fixed;
  top: 20px !important;
  left: 20px;
  right: 20px;
  width: auto;
  margin: 0;
}

#ajax-modal {
  .ajax-loader { padding-bottom: 5px; }
  .modal-footer .extra_fields {
    & {
      float: left;
    }
    .extra_field, label { float: left; }
    #res_title_div, #res_cc_div {
      padding: 5px;
    }
  }
}

/* Mobile look for modal */ 
@media (max-width: 480px) {
  .table-bordered {
    border-top: none !important;
    border-right: none !important;
  }
  .modal-header h1 {
    margin: 0;
    padding: 0;
  }
  .modal-boder {
    padding-top: 0;
    nav.pagination {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  .modal-footer {
    padding: 5px;
    button {
      padding: 5px;
      font-size: 12px;
    }
  }
  .modal.fullscreen { 
    top: 5px !important;
    left: 5px;
    right: 5px;
  }
}
