@import "nyulibraries";
@import "jquery-ui-timepicker-addon";

h1.page_title { margin-top: 0; }

.sidebar-padded {width:300px;margin-left:10px;}
.legend_unavailable {margin-right:5px; padding-right:15px;background-color:#cc3333;border:1px solid #000;display:inline;}
.legend_available {margin-right: 5px;padding-right:15px;background-color:#8bc18b;border:1px solid #1b511b;display:inline}
.legend_selected {margin-right: 5px;padding-right:15px;background-color:#efefef;border:2px solid #6666ff;display:inline}
.legend_text {margin-right:10px;display:inline;}
.timeslot_unavailable {background-color:#cc3333;}
.timeslot_available {background-color:#8bc18b;}
.timeslot_selected {border:2px solid #6666ff !important;}
.outset-border {border-bottom: 2px solid #ccc !important;border-right: 1px solid #999 !important;border-top: 1px solid #efefef !important;border-left: 1px solid #efefef !important;}

div.policies { background-color:#efefef;padding: .3em .5em;width:323px;border: 1px solid #ccc; }
div.policies ul li {color: #990000;}

#generate_grid_form {
  dl { padding: 10px; border: 1px solid #ccc; }
}

#date_example {
	font-style: italic;
	color: gray;
}

dl * {
  padding: 5px;
}

.sortable_list {
  padding-left: 0 !important;
  h4 {
    font-weight: bold;
    margin-bottom: 0;
  }
  list-style: none;
  li {
    list-style: none;
    margin-bottom: $paddingSmall;
    padding-left: 0 !important;
  }
}

ul#list_rooms {
  margin-left: 0;
  h4 { padding-bottom: 3px; }
  > li { padding: 5px 0; }
}


.q {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  line-height: 20px !important;
}

.legend {
  margin: 10px 0;
}

/* PREVIEW THUMBS STYLES */

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	z-index: 1100;
}

#preview img {
	max-width: 240px;
}

.field_with_errors input {
  border-color: rgb(185, 74, 72) !important;
}








/*
img.icon {
	border: 0;
	padding-right: 5px;
	vertical-align: middle;
}

.narrow-text {
	width: 500px;	
}

.grayborder { border: 1px solid #ccc; }

div.page_container {
	width:500px;
}

#errorExplanation {
	width: 500px;
}

#date_example {
	font-style: italic;
	color: gray;
}

span.same_day {
	color: gray;
}

a.reservation_whois:hover {
	text-decoration: none;
}







fieldset {
	width: 450px;
	margin-left: 0;
}

form input[type='text'].large_text_field {
	width: 200px;
}

form select.medium_select_tag {
	width: 200px;
}

select {
	display: inline !important;
}

input[type="text"].small_text_field {
	width: 20px;
}

input[type="text"].medium_text_field {
	width: 70px;
}

textarea.short_text_area {
	height: 100px;
}

textarea.wide_text_area {
 width:450px;
}

input[type='text'] {
	display: inline;
}

input[type="text"].application_title_textbox {
		width: 500px;
		height: 30px;
		color: #3366cc;
		font-size: 20px;	
		font-weight: bold;
}

textarea.application_head_text_area, textarea.application_form_text_area {
	width: 500px;
	height: 70px;
	font-family: verdana, sans-serif;	
	font-size: 12px;
}

#reservation_cc,
#reservation_title {
	height: 20px;
	width: 300px;
	border: 1px solid gray;
}






ul.list,
ul.list li {
	background-image: none !important;
}

.list ul li, .list li {
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.list {
  margin-left: 10px !important;
}

ul.list li {
	padding-left: 0 !important;	
}

.actions {
	display: block;
	margin-left: 16px;
}

#box_container {
	width: 500px;
	border: 1px solid #e0d8c9;
	border-bottom: 2px solid #ad9870 !important;
	padding: 10px;
}





.availability_grid_content > form > table {
	width: 100% !important;
}

table.noborder tr, table.noborder td {
  border: 0;
}

.resultsPager {
	text-align:left;
	margin-top: 2em;
	margin-bottom: 2em;
}

table,
table tr,
table tr td {
	border: 0;	
}

table thead tr {
	background-color: #d6d5d9;
}

table thead tr th {
	color: #666;
}

table thead,
table tbody,
table tr {
	padding: 0 !important;
	margin: 0 !important;
}

table td,
table th {
	padding: 5px;
}

td.description-cell {
	min-width: 160px;
}

th.date-cell {
	font-size: 11px;
	text-align: left;
	padding: 0;
}

.even {
	background-color: #fff;
}

.odd {
	background-color: #efefef;
}

.sidebar-padded {width:300px;margin-left:10px;}
.legend_unavailable {margin-right:5px; padding-right:15px;background-color:#cc3333;border:1px solid #000;display:inline;}
.legend_available {margin-right: 5px;padding-right:15px;background-color:#8bc18b;border:1px solid #1b511b;display:inline}
.legend_selected {margin-right: 5px;padding-right:15px;background-color:#efefef;border:2px solid #6666ff;display:inline}
.legend_text {margin-right:10px;display:inline;}
.timeslot_unavailable {background-color:#cc3333;}
.timeslot_available {background-color:#8bc18b;}
.timeslot_selected {border:2px solid #6666ff !important;}
.outset-border {border-bottom: 2px solid #ccc !important;border-right: 1px solid #999 !important;border-top: 1px solid #efefef !important;border-left: 1px solid #efefef !important;}

div.policies { background-color:#efefef;padding: .3em .5em;width:323px;border: 1px solid #ccc; }
div.policies ul li {color: #990000;}








*/