<h1 class="error">Unauthorized patron</h1>

<p>Sorry, you are not recognized as a graduate student. If you believe you've received this message by mistake please contact your University department and the <a href="mailto:patron.question@library.nyu.edu">NYU Libraries Access Services Department</a>.</p>