

/**************
 * Responsive *
 **************/

@media (max-width: 768px) {
 .modal-header {
   white-space: normal;
   h1 {
     font-size: 120%;
   }
 }
}

@media (min-width: 480px) {
  .extra_field {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .modal-header {
    h1 {
      margin: 0;
      padding: 0;
    }
  }
  .modal-body {
    padding-top: 0;
    nav.pagination {
      margin-top: 10px;
      margin-bottom: 0;
    }
    max-height: auto !important;
  }
  .modal-footer {
    padding: 5px;
    #reservation_cc, #reservation_title {
      width: auto;
      margin: 0;
    }
  }
  .modal.fullscreen {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    .modal-dialog {
      margin: 0 !important;
      width: 100%;
    }
  }
}
